.button-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  flex: 1;
  gap: 1rem;
  padding: 2rem;
}

.site-button {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}
